# Bytecode
*.py[cod]
__pycache__/
*.so

# Django
*.sqlite3
*.log
*.pot
*.pyc

# ENV
env/
venv/
ENV/
.VENV/
.env  # ✅ .env dosyasını GİT'e dahil etme!

# IDE
.vscode/
.idea/

# Credentials
credentials/

# OS
.DS_Store
Thumbs.db
.env
.env
